.git
.github
.gitignore
.venv
__pycache__
*.py[cod]
.env
.env.*
!.env.example
.pytest_cache
.coverage
htmlcov
logs
tests
static/img/*
!static/img/avalon-entry-background.png
!static/img/avalon-title.png
!static/img/join_page_bg.png
!static/img/full_ui_bg.png
static/sounds
source-assets
README.md
compose.yaml
